@import "/public/css/styleColor.css";
body{
    height: 100vh;
    background-color: var(--color-blueThree);
}
.home-container{
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.formularioRegistro,
.formularioAdd{
    width:300px;
    background-color: var(--color-blueOne);
    border-radius: 25px;
    display: grid;
    place-items: center;
    height: 450px;
}
.formularioAdd{
    height: 450px;
}
.logo-user{
    width: 70px;
    height: 70px;
}
.imput-user{
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--color-blueOne);
    height: 30px;
    border-bottom: 1px solid vaR(--color-white);
    color: var(--color-blueThree);
    border-radius: 25px;
}
.imput-user::placeholder{
    font-size: 15px;
    color: var(--color-blueThree);
}

.p-registro{
    color:var(--color-white);
}
.a-registro{
    text-decoration: none;
    font-weight: 500;
    color: var(--color-blueThree);
}
.a-registro:hover{
    text-decoration:underline;
}
.formularioAdd h2,
.formularioRegistro h2{
    color: var(--color-white);
}
