@import "/public/css/styleColor.css";

body{
background-color: var(--color-blueThree);
padding: 0;
margin: 0;
transition:transform 0.5s ease,opacity 0.5s ease;
width: 100%;
}
/*class header y menu*/
.header{
position: fixed;
top: 0;
width: 100%;
background-color: var(--color-blueTwo);
height: 50px;
z-index: 100;
}
.margin-logo{
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
}
.A_ruta{
    display: grid;
    place-items: center;
    margin: auto 0 auto 2%;
}
.menu-ul-li .A_ruta{
    margin: 0;
  }
.btn-menu{
height: 40px;
width: 40px;
margin: auto 2% auto 0px;
background: none;
border: none;
cursor: pointer;
}
.logo{
margin: auto 0 auto 2%;
height: 40px;
width: 80px;
}
.menu{
position: fixed;
z-index: 998;
top: 50px;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 100vh;
opacity: 0;
visibility: hidden;/*evita que exista interativida*/
transition:transform 0.3s ease,opacity 0.3s ease;
overflow-y: auto;
}
.menu-ul{
list-style: none;
background-color: var(--color-blueThree);
color:var(--color-blueOne);
padding: 0;
margin: 0;
display: grid;
place-items: center;
height: 90vh;
}
.active{
opacity: 1;
visibility: visible;
height: 100%;
background-color: var(--color-blueThree);
}
.desative{
opacity: 0;
}
.menu-ul h3{
margin: auto auto auto 0;
}
.menu-ul-li{
width: 80%;
height: 45px;
border-radius: 25px;
display: grid;
grid-template-columns: 1fr 1fr;
background-color: var(--color-blueThree);
margin: 5px 0px 5px 0px;
}
.menu-ul-li:hover{
background-color: var(--color-blueOne);
}
.li-user{
height: 40px;
width: 40px;
margin: auto 10px auto auto;
color: var(--color-blueTwo);
}
.logo-user{
fill: var(--color-blueTwo);
}
.menu-ul-li:hover .logo-user{
fill: var(--color-white);
}
.menu-ul-li:hover h3{
color: var(--color-white);
cursor: pointer;
}
.menu-ul-li a{
 text-decoration: none;
 display: grid;
 grid-template-columns: 1fr 1fr;
 color: var(--color-blueOne);
}
.menu-ul-li a:hover{
   color: var(--color-white);
   cursor: pointer;
}
.a:hover .logo-user{
    fill: var(--color-white);
}
.a:hover h3{
    fill: var(--color-white);
}
.redired{
    display: block;
}
/*final style header*/

/*class main*/
.main-container{
margin-top: 70px;
padding: 5px;
display: grid;
place-items: center;
grid-template-columns: repeat(auto-fill,150px);
gap: 10px;
height: 70vh;
}
.main-NotFound{
    position: relative;
    text-align: center;
    color: var(--color-white);
    top: 40px;
    width: 100%;
    height: 90%;
}
.margin-carga{
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
}
.container-users{
    margin-top: 50px;
    width: 100%;
    height: 85vh;
    overflow-y: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 15% 85%;
    color: var(--color-white);
}
.users{
    margin: auto;
    position: relative;
    width: 80%;
    height: 70vh;
    overflow-y: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(40px,250px));
    gap: 10px;
}
.user-item{
    margin: auto;
    background-color: var(--color-blueOne);
    padding: 10px;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 30% 40% 25% 5%;
    width: 75%;
    height: 400px;
}
.user-item p{
    margin: 0;
    font-size: 90%;
    margin-right: auto;
    width: 100%;
}
.user-p{
  height: 100%;  
  display: grid;
  padding: 5px;
}
.margin-logo-user1{
    display: grid;
    place-items: center;
}
.margin-btn-add{
width: 100%;
display: grid;
place-items: center;
}
.main-archivo,
.main-eliminar{
    position: relative;
    top: 30px;
    width: 100%;
    height: 90vh;
    display: grid;
    place-items: center;
    color: var(--color-white);
}
.btn-agregar,
.cerrarForm,
.agregarForm,
.editarForm,
.btn-enviar,
.btn-arch,
.btn-elim,
.btn-user{
position: fixed;
bottom: 20px;
background: none;
border: none;
background-color: var(--color-blueOne);
width: 100px;
height: 40px;
border-radius: 10px;
margin: 0px auto 0px auto;
cursor: pointer;
display: grid;
place-items: center;
}
.cerrarForm,
.agregarForm,
.editarForm,
.btn-agregar,
.btn-arch,
.btn-elim,
.btn-user{
position: relative;
margin-top: 30px;
color: var(--color-white);
}
.btn-arch,
.btn-elim,
.btn-user{
  border-radius: 5px;
  max-width:100px;
  min-width: 50px;
  position: inherit;
  margin: 0;
  background-color: var(--color-blueTwo);
  height: 60px;

}
.btn-arch:hover,
.btn-elim:hover,
.btn-user:hover{
  background-color: var(--color-white);
  color: var(--color-blueThree);
}
.btn-agregar{
    background-color: var(--color-blueTwo);
}
.margin-control-form{
display: grid;
grid-template-columns: 120px 120px;
place-items: center;
}
.card{
width: 100%;
background-color: var(--color-white);
display: grid;
place-items: center;
grid-template-rows: 15% 5% 65% 15%;
}
.card-edit,
.card-eliminar,
.card-archivar{
background: none;
border: none;
}
.card-header{
width: 100%;
display: grid;
place-items: center;
grid-template-columns: 80% 20%;
}
.card-header-title{
height: 20px;
width: 80px;
overflow-y: auto;
}

.card-separador{
width: 80%;
}
.card-body-contenido{
margin: 0;
padding: 10px;
height: 100px;
overflow-y: auto;
width: 100%;
}
.card-footer{
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    place-items: center;
}
.eliminar-svg,
.archivar-svg{
    width: 24px;
    height: 24px;
}
.formularios-modal{
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: var(--color-black);
opacity: 0;
visibility: hidden;
z-index: 999;
display: grid;
place-items: center;
}
.margin-formulario{
display: grid;
place-items: center;
gap: 10px;
}
.activeForm{
opacity: 1;
visibility: visible;
height: 100%;
background-color: var(--color-blueThree);
}

.form{
height: 200px;
display: grid;
gap: 10px;
}
.form-l{
height: 100px;
width: 150px;
}
.cerrarForm,
.agregarForm,
.editarForm{
height: 30px;
}
.eliminar,
.pencil,
.archivar{
    cursor: pointer;
}
.cardArch,
.cardEli{
    position: relative;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    display: grid;
    gap: 10px;
}
.cardArch-item,
.cardElim-item{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 150px;
    background-color: var(--color-blueTwo);
}
.card-p{
    padding: 10px;
    height: 100%;
    display: grid;
}
.card-p p{
    overflow-y: auto;
    margin: 0 0 0 5%;
    min-width: 100px;
    height: 20px;
    color: var(--color-white);
}
.margin-btn-arch,
.margin-btn-elim{
    height: 100%;
    display: grid;
    place-items: center;
}
.main-archivo h1,
.main-eliminar h1{
  margin: 10px 0 0 0;
}
.add{
    position: fixed;
}
.margin-user-btn{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items:end;
}
.btn-user{
  margin: 0px auto 0px auto;
  width: 80%;
}
/*final style main*/

/*class footer*/
.footer{
width: 100%;
background-color: var(--color-blueOne);
height: 30px;
position: absolute;
bottom: 0;
}
textarea {
    overflow-y: auto;
    resize: none;
}
/*final style footer*/
/*medias query*/
/*
@media(min-width:662px){
.header{
    height: 30px;
}
.logo{
    height: 20px;
}
.btn-menu{
    height: 30px;
}
.btn-m{
    height: 30px;
}
.menu{
    top:30px;
}
.li-user{
    height: 30px;
}
.btn-agregar{
  height: 40px;
  width: 80px;
}
}
*/
/*final media query*/

.carga{
    position: fixed;
    width: 42px;
    height: 47px;
    animation-name: giroCarga;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: url(../svg/logo-invertido.svg);
    background-repeat: repeat-y;
    background-size: cover;
}

@keyframes giroCarga{
    0%{
        width:0px;
    }
    50%{
      transform: rotate(-180deg);
      width: 53px;
    }
    100%{
        transform:scaleY(-1);
        transform: rotate(-360deg);
        width: 0px;
    }
}

.eliminar-card{
    animation-name: eliminar;
    animation-duration: 1s;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in-out;
}

@keyframes eliminar{
    0%{
      opacity: 1;
      display: fixed;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 0;
      visibility: hidden;
    }
}

@media (min-width: 700px){
    .main-container{
        width: 470px;
        margin: auto;
        height: 80vh;
        margin-top: 50px;
    }
    .card{
        margin: auto;
    }
}
